{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="templatemo_container">
    <div id="templatemo_menu">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            

        </ul>
    </div> <!-- end of menu -->

    {% include 'footer_news.html' %}


    <div id="templatemo_new_books">

        <ul>

            <li>{{new.title}}</li>

        </ul>
        <a href="" style="margin-left: 50px;">Read more...</a>
    </div>

</div> <!-- end of header -->

<div id="templatemo_content">

    <div id="templatemo_content_left">
        <div class="templatemo_content_left_section">
            <h1>Categories</h1>
            {% for c in cat %}
            <ul>
                <li><a href="{% url 'home' %}">{{ c.name }}</a></li>

            </ul>
            {% endfor %}
        </div>


        <div class="templatemo_content_left_section">
            <h1>Bestsellers</h1>
            <ul>
                {% for b in best %}
                <li><a href="{% url 'subpage' b.slug  %}">{{ b.title }}</a></li>

                {% endfor %}

            </ul>
        </div>

        <div class="templatemo_content_left_section">
            <a href="https://blogdeveloper.pythonanywhere.com/" target="_blank"><img
                    alt="" border="0" height="31" src="..//static/img/noclick.gif"
                    style="border:0;width:88px;height:31px" vspace="8" width="88"/></a>

        </div>

        
    </div> <!-- end of content left -->

    <div id="templatemo_content_right">

        <h1>{{k.title}} <span>({{k.author}})</span></h1>
        <div class="image_panel"><img alt="CSS Template" height="150" src="/media/{{k.post_img}}" width="100"/></div>
        <h2>Read the lessons - Watch the videos - Do the exercises</h2>
        <ul>
            <li>By {{k.book_of_author}}</li>
            <li>Date : {{k.publish_date | date:'Y'}}</li>
            <li>Pages: {{k.page}}</li>

        </ul>

        <p>{{k.body|safe}}</p>

        <div class="detail_button"><a download="{{k.file}}" href="{{k.file}}">Download</a></div>
        <div class="cleaner_with_height">&nbsp;</div>

        <a href="https://blogdeveloper.pythonanywhere.com/" target="_blank"><img
                alt="css template ad" src="..//static/img/templatemo_adse.png"/></a>

    </div> <!-- end of content right -->

    <div class="cleaner_with_height">&nbsp;</div>
</div> <!-- end of content -->
{% include 'footer.html' %}
<!-- end of footer -->

</div> <!-- end of container -->


{% endblock %}